/*
	a group of global styles
	a notatio file
*/


nav {
	text-align: center;
}

nav h3 {
	font-weight: 400;
}

main {
	z-index: -999;
	text-align: center;
	position: absolute;
	top: 0;
	right: 10%;
	bottom: 0;
	left: 10%;
}

main h1 {
	font-style: italic;
	position: relative;
}

main h1 span.idea {
	color: black;
	margin-bottom: 13px;
	display: block;
}

main h1 span:last-child {
	display: block;
	font-size: 18.72px;
	font-weight: 400;
}

main div#more {
	position: fixed;
	bottom: 21px;
	left: calc(50vw - (298px / 2));
}

main button {
	appearance: none;
	padding: 21px 55px;
	border-radius: 5px;
	border: none;
	font-weight: bold;
	font-size: 18px;
	background-color: #18A7F7;
	color: white;
}

a.tweet_btn {
	margin-right: 13px;
}

a.tweet_btn img {
	height: 60px;
	position: relative;
	top: 24px;
}

main button:hover {
	cursor: pointer;
	background-color: #1489CB;
}

@media only screen and (max-width: 600px) {
	h1 {
		font-size: 30px;
	}
}